.navbar {
  position: sticky;
  top: 0;
  background: #ffffff;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 100;
}

.brand {
  margin-right: 20px;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  color: #333;
  padding-bottom: 4px;
  position: relative;
}

.nav-link:hover {
  color: #0d6efd; /* biru */
  border-bottom: 2px solid #0d6efd;
}

.nav-link.active {
  color: #0d6efd;              /* warna aktif */
  font-weight: 600;
}

/* underline animasi */
.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #0d6efd;
}

.user {
  margin-left: auto;
  font-weight: 500;
}

.logout {
  margin-left: 10px;
  cursor: pointer;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
